<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex flex-wrap items-center space-x-2 sm:space-x-4">
      
      <li>
        <a
          href="/"
          class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %>"
        >
          airbnb
        </a>
      </li>

      <% if (isLoggedin) { %>

        <% if (user.userType === "guest") { %>
         
          <li>
            <a
              href="/homes"
              class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %>"
            >
              Homes-List
            </a>
          </li>
          <li>
            <a
              href="/favourites"
              class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %>"
            >
              Favourites
            </a>
          </li>
          <li>
            <a
              href="/bookings"
              class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %>"
            >
              Bookings
            </a>
          </li>
        <% } %>

        <% if (user.userType === "host") { %>
          <li>
            <a
              href="/host/host-home-list"
              class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-400' %>"
            >
              Host Homes
            </a>
          </li>
          <li>
            <a
              href="/host/add-home"
              class="py-2 px-4 rounded transition duration-300 <%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-400' %>"
            >
              Add Home
            </a>
          </li>
        <% } %>

        <li>
          <form action="/logout" method="POST">
            <button
              type="submit"
              class="py-2 px-4 rounded transition duration-300 hover:bg-red-400"
            >
              Logout
            </button>
          </form>
        </li>

      <% } else { %>
        <li>
          <a
            href="/login"
            class="py-2 px-4 rounded transition duration-300 hover:bg-red-400"
          >
            Login
          </a>
        </li>
        <li>
          <a
            href="/signup"
            class="py-2 px-4 rounded transition duration-300 hover:bg-red-400"
          >
            Signup
          </a>
        </li>
      <% } %>

    </ul>
  </nav>
</header>
